<!DOCTYPE html>
<html>
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
        <script src="js/fruit_and_veggies.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="FruitVeggie">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row" ng-controller="List">

                <div class="col-sm-4">

                    <table class="table">
                        <tr>
                            <th>Fruits</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="fruit in fruits track by $index">
                            <td ng-class="{'danger': verifyFruit(item)}">{{fruit}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="moveBackRight($index)">&#8594;</button>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="col-sm-4">

                    <table class="table">
                        <tr>
                            <th>Fruits and Vegetables</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in items track by $index">
                            <td>{{item}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="moveLeft($index)">&#8592;</button>
                                <button class="btn btn-primary" ng-click="moveRight($index)">&#8594;</button>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="col-sm-4">

                    <table class="table">
                        <tr>
                            <th>Veggies</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="veggie in veggies track by $index">
                            <td ng-class="{'danger':verifyVeggie(item)}">{{veggie}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="moveBackLeft($index)">&#8592;</button>
                            </td>

                        </tr>
                    </table>

                </div>

            </div>
        </div>
    </body>
</html>






